{% extends 'codemachine/home.html' %}

{% block tab_about %}{% endblock %}
{% block tab_home %}{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span6">
            <h1>Error 404</h1>
        </div>
    </div>
{% endblock %}