{% extends 'codemachine/home.html' %}

{% block tab_home %}{% endblock %}
{% block tab_about %} class="active" {% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Developed by: Andrey Bogoyavlensky</h2>
            <div>
                <h3>Contact me by e-mail:</h3>
                <a href="mailto:abogoyavlensky@crystalnix.com">abogoyavlensky@crystalnix.com</a>
            </div>
        </div>
    </div>
{% endblock %}