<html lang="en"><head>
<meta charset="utf-8">
<title>CodeMachine</title>
    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}
    <script src="{{ STATIC_URL }}/dajax/jquery.dajax.core.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="{{ STATIC_URL }}codemachine/plugin/bootstrap/css/bootstrap.css" rel="stylesheet">
<style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>
<link href="{{ STATIC_URL }}codemachine/plugin/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
{#<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">#}
{#<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">#}
{#<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">#}
{#<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">#}
<link rel="shortcut icon" href="../assets/ico/favicon.png">

<body>
<div id="'wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{% url 'home' %}">CodeMachine</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li {% block tab_home %} class="active" {% endblock %}><a href="{% url 'home' %}">Home</a></li>
                        <li {% block tab_about %}{% endblock %}><a href="{% url 'about' %}">About</a></li>
{#                        <li><a href="#contact">Contact</a></li>#}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        {% block main %}
        {% endblock %}
{#        <div class="row-fluid">#}
{#            <div class="span6">#}
{#                {{ form_source }}#}
{#            </div>#}
{#            <div class="span6">#}
{#                {{ form_encoded }}#}
{#            </div>#}
{#        </div>#}
    </div> <!-- /container -->
    <div id="push"></div>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}codemachine/js/jquery.js"></script>
<script src="{{ STATIC_URL }}codemachine/plugin/bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}codemachine/js/codemachine.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

</body></html>