{% extends 'codemachine/home.html' %}

{% block tab_home %} class="active" {% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span6">
            <form method="POST">
                {% csrf_token %}
{#                {{ form_source }}#}
                {{ form_source.source_text.errors }}
                {{ form_source.source_text.label_tag }} {{ form_source.source_text }}
                <div class="row-fluid">
                    <div class="span2">
                        <input class="btn" type="submit" value="Encode">
                    </div>
                    <div class="span2">
                        <a class="btn" href="{% url 'clear_text' %}">Clear</a>
                    </div>
                    <div class='span2'>
                        {{ form_source.keyword.errors }}
                        {{ form_source.keyword.label_tag }} {{ form_source.keyword }}
                    </div>
                    <div id="true_key" data-true_key='{{ true_key }}'></div>
{#                    <div class="span2" >#}
{#                        <select name='range' title="Change feedback range">#}
{#                            {% for range in ranges %}#}
{#                                <option value="{{ range }}" {% if range_select == range %}selected="selected"{% endif %}>#}
{#                                    {{ range }}#}
{#                                </option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
                </div>
            </form>
        </div>
        <div class="span6">
            <form method="GET" class="decode-text-form">
                {{ form_encoded }}
                <div class="span2 pull-right" >
{#                    <input class="btn" type="submit" value="Decode">#}
                    <a class="decode-btn btn">Decode</a>
                </div>
            </form>
        </div>
    </div>
    {% if dist %}
        <div>
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
{#                    <li class="active"><a href="#tab1" data-toggle="tab">Details</a></li>#}
                    <li class="active"><a href="#tab2" data-toggle="tab">Distribution by zero</a></li>
                    <li><a href="#tab7" data-toggle="tab">Distribution by one</a></li>
                    <li><a href="#tab3" data-toggle="tab">Amount of pairs</a></li>
                    <li><a href="#tab4" data-toggle="tab">Amount of triplets</a></li>
                    <li><a href="#tab5" data-toggle="tab">Statistical Analysis of source text</a></li>
                    <li><a href="#tab6" data-toggle="tab">Statistical Analysis of encoded text</a></li>
                </ul>
                <div class="tab-content">
{#                    <div class="tab-pane active" id="tab1">#}
{#                        <p>Some details...</p>#}
{#                    </div>#}
                    <div class="tab-pane active" id="tab2">
                        <div id="dist_data" data-chart-data='{{ dist }}'></div>
                        {% if dist %}
                            <div id="dist_stat" style="width:1100px; height:400px;"></div>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="tab7">
                        <div id="dist_one_data" data-chart-data='{{ dist_one }}'></div>
                        {% if dist_one %}
                            <div id="dist_one_stat" style="width:1100px; height:400px;"></div>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div id="pair_data" data-chart-data='{{ pair }}'></div>
                        {% if pair %}
                            <div id="pair_stat" style="width:1100px; height:400px;"></div>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="tab4">
                        <div id="triplet_data" data-chart-data='{{ triplet }}'></div>
                        {% if triplet %}
                            <div id="triplet_stat" style="width:1100px; height:400px;"></div>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="tab5">
                        {% if analys %}
                            <div id="analys_stat" style="width:1100px; max-height:1000px;">
                                <h4 align='center'>Amount of all symbol: <span>{{ analys.count_all }}</span></h4>
                                <h4 align='center'>Amount of unique symbol: <span>{{ analys.source.count }}</span></h4>
                                <table rules ="all" frame='border' align='center'>
                                    <tr>
                                        <th>Symbol</th>
                                        <th>Integer</th>
                                        <th>Binary</th>
                                        <th>Amount</th>
                                    </tr>
                                    {% for item in analys.source.data %}
                                        <tr>
                                            <td>{{ item.symbol }}</td>
                                            <td>{{ item.int }}</td>
                                            <td>{{ item.bin }}</td>
                                            <td>{{ item.count }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="tab6">
                        {% if analys %}
                            <div id="analys_stat" style="width:1100px; max-height:1000px;">
                                <h4 align='center'>Amount of all symbol: <span>{{ analys.count_all }}</span></h4>
                                <h4 align='center'>Amount of unique symbol: <span>{{ analys.encoded.count }}</span></h4>
                                <table rules ="all" frame='border' align='center'>
                                    <tr>
                                        <th>Symbol</th>
                                        <th>Integer</th>
                                        <th>Binary</th>
                                        <th>Amount</th>
                                    </tr>
                                    {% for item in analys.encoded.data %}
                                        <tr>
                                            <td>{{ item.symbol }}</td>
                                            <td>{{ item.int }}</td>
                                            <td>{{ item.bin }}</td>
                                            <td>{{ item.count }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}